body {
  background-color: steelblue;
  color: yellow;
  font-family: fantasy;
}

h1 {
  color: crimson;
  text-decoration: overline;
  font-family: inherit;
}

p {
  color: inherit;
  font-size: 18.8px;
  font-family: inherit;
}

img {
  border: 2.5px solid red;
  border-radius: 50px;
  padding: 5px;
}

h3 {
  color: orange;
  font-size: 20px
}

#Lemur1{
  border: 2.5px solid red;
  border-radius: 100%;
  padding: 5px;
}

nav ul{
  background-color: tomato;
  border-style: solid;
  border-color: mediumVioletRed;
  border-width: 2px;
  pading: 10px;
  border-radius: 20px;
}

nav ul li{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: PapayaWhip;
}

nav ul li a {
    text-decoration: none;
    color: none;
}
h2{
  color: DarkOrange;
}
#profile{
  border: none;
}
