body {
  background-color: steelblue;
  color: yellow;
  font-family: fantasy;
}

h1 {
  color: crimson;
  text-decoration: overline;
  font-family: inherit;
}

p {
  color: inherit;
  font-size: 18.8px;
  font-family: inherit;
}

img{
  border: 2.5px solid red;
  border-radius: 100%;
  padding: 5px;
}
